{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1 class="text-center">Food Security analysis</h1>
  <p class=" text-center lead">Click on the buttons below to see the examples.</p>
</div>

<div class="container">

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Plot display</h5>
          <p class="card-text">A sample anaysis display.</p>
          <a href="{% url 'draught:plot1d' %}" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Kenya pasture quality</h5>
          <p class="card-text">A measure of pasture quality average over the years across.</p>
          <a href="{% url 'draught:kenyan_map' %}" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /.container -->

{% endblock %}
